*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul{
  list-style: none;
}
/* classi riutilizzabili */
.container{
  width: 80%;
  margin: auto;
}
.float-left{
  float: left;
}
.float-right{
  float: right;
}
.clearfix:after{
  content: "";
  display: table;
  clear:both;
}
/* button */
.btn {
  text-transform: uppercase;
  border-radius: 5px;
  color:white;
  padding: 10px;
}
.btn-green{
  background-color: green;
  padding: 10px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.btn-green-big{
  background-color: green;
  padding: 15px;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
}
.btn-blu{
  background-color: rgb(21, 19, 80);
  border: 1px solid white;
  padding:  10px 55px;
  border: 1px solid white;
  border-radius: 5px;
  color:white;
  text-decoration: none;
  text-transform: uppercase;
}
header{
  background-color: rgb(21, 19, 80);
  background-image: url(../img/background-header.png);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 110% 110%;
}
.header-nav{
  height: 80px;
  line-height: 80px;
}
.header-logo{
  height: 80px;
}
.header-nav-centre{
  height: 80px;
}
.header-nav li{
  display: inline-block;
  padding: 0 10px;
}
.header-nav-right{
  ;
  height: 80px;
}
.jumbotron{
  height: 470px;
  position: relative;

}
.jumbo-testo{
  position: absolute;
  left:0;
  top: 50%;
  transform: translateY(-50%);
  width: 40%;
  color: white;
}
.jumbo-testo h1{
  margin-bottom: 20px;
}
/* main */
main{
  /* da cancellare */
  height: 700px;
  background-color: grey;
}
.language{
  height: 120px;
  background-color: red;
}
