*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul{
  list-style: none;
}
/* classi riutilizzabili */
.container{
  width: 80%;
  margin: auto;
}
.float-left{
  float: left;
}
.float-right{
  float: right;
}
.clearfix:after{
  content: "";
  display: table;
  clear:both;
}
/* button */
.btn {
  text-transform: uppercase;
  border-radius: 5px;
  color:white;
  padding: 10px;
}
.btn-green{
  background-color: green;
  padding: 10px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.btn-green-big{
  background-color: green;
  padding: 15px;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
}
.btn-blu{
  background-color: rgb(21, 19, 80);
  border: 1px solid white;
  padding:  10px 55px;
  border: 1px solid white;
  border-radius: 5px;
  color:white;
  text-decoration: none;
  text-transform: uppercase;
}
header{
  background-color: rgb(21, 19, 80);
  background-image: url(../img/background-header.png);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: 110% 110%;
}
.header-nav{
  height: 80px;
  line-height: 80px;
}
.header-logo{
  height: 80px;
}
.header-logo img{
  margin-top: 15%;
  margin-right: 10px;
}
.header-nav-centre{
}
.header-nav li{
  display: inline-block;
  padding: 0 10px;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
}
.header-nav-right li{
  color: white;
  text-align: right;
}
.header-nav-right li a{
  text-decoration: none;
  color: white;
}
.jumbotron{
  height: 470px;
  position: relative;
}
.jumbo-testo{
  position: absolute;
  left:0;
  top: 50%;
  transform: translateY(-50%);
  width: 40%;
  color: white;
}
.jumbo-testo h1{
  margin-bottom: 40px;
  text-transform: uppercase;
}
/* main */
.language{
  background-color: lightgrey;
  text-align: center;
}
.language h2{
  padding: 20px;
}
.language h3{
  padding-bottom: 20px;
  color: grey;
}
/* SEZIONI CON IMMAGINI */
.raffigurazioni-up{
  border-bottom: 1px solid grey;
}
.up-side{
  height: 210px;
  width: 210px;
  margin: auto;
  margin-top: 10%;
}
.raffigurazioni-up .gru{
  background-image: url(../img/profile.svg);
  background-size: cover;
  background-position: center;
}
.raffigurazioni-up .pc{
  width: 300px;
  background-image: url(../img/computer.svg);
  background-size: cover;
  background-position: center;
}
.raffigurazioni-up .doc{
  background-image: url(../img/doc.svg);
  background-size: cover;
  background-position: center;
}
.container-section{
  width: calc(100% / 3)
}
.container-section h2{
  text-align: center;
  line-height: 1.6;
  margin: 0 50px;
}
.container-section h2{
  padding: 10px;
  text-align: center;
  line-height: 1.6;
  margin: 0 50px;
  color: green
}
.container-section hr{
  margin: 20px 160px;
}
